.wbdv-padding{
    color:white;
    padding-top:5px;
    /*padding-bottom:5px;*/
    background-color:#2985e6
}

.wbdv-sticky-top {
    position: relative;
    width: 100%;
    z-index: 1;
}

#footer{
    position: fixed;
    right: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    bottom: 0;
    width: 100%;
}

#footerIcon{
    float:right;
    color:red;
}